/* :root {
    --bg: #546a7b;
    --light-blue: #62929e
} */

body {
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./assets/imgs/congress-library.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

h1{
    font-family: 'Domine', serif;
    font-size: 4rem;
    color: white;
}


.example {
    border: solid red 1px;
}

.hello {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.88);
}
