body {
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../imgs/congress-library.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

h1{
    font-family: 'Domine', serif;
    font-size: 4rem;
    color: white;
}

.box {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.88);
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
  }
